<!DOCTYPE html>
<html>
<head>
  <title>RecipeMash</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
		<div class="container-fluid">
  	  <p class="brand">Recipe Mash</p>
    	<p class="navbar-text pull-right">logged_in_user@email.com | <a href="log_out_link_here">Log Out</a></p>
	  </div>
	</div>
</div>

<div class="container-fluid">
	<% flash.each do |key,value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
<%= yield %>
</div>
</body>
</html>
